{% extends "layout.html" %}

{% block content %}


<h1>About this project</h1>

Features:
<ul>
    <li>Screensharing + audio</li>
    <li>Login via one time token</li>
    <li>Use anywhere, its free.</li>
</ul>

<dl>
    <dt>Philosophy</dt>
    <dd>
        Source code is Free to use and share.<br/>
        Pull requests are welcome.
    </dd>

    <dt>Language</dt>
    <dd>Python3</dd>

    <dt>Framework</dt>
    <dd>Django 3.0</dd>

    <dt>Database</dt>
    <dd>SQLite3 by default (Configurable: MySQL, PostgreSQL)</dd>

    <dt>Source code</dt>
    <dd>
        <a href="https://bitbucket.org/ariunbayar/res-man/src/master/" target="_blank">
            https://bitbucket.org/ariunbayar/res-man/src/master/
        </a>
    </dd>
</dl>

{% endblock %}
