{% extends "layout.html" %}

{% load static %}

{% block content %}


{% for res in res_list %}

    <p>
        <strong>from {{ res.email_from }} at {{ res.created_at }}</strong>
        ({{ res.created_at | timesince }})

        {% if res.status == "new" %}
            <span class="tag yellow">{{ res.get_status_display }}</span>
            <a href="{% url "res-mark-as-seen" res.pk %}" title="Илгээсэн хүнд мэдэгдэхийг анхаарна уу!">үзсэн болго</a>
        {% else %}
            <span class="tag">{{ res.get_status_display }}</span>
        {% endif %}
    </p>

    {{ res.summary|linebreaks }}

    <div class="image-preview">
        {% for image in res.images %}
        <img src="/uploads/{{ image.filename }}" style="width: 100px; height: 100px; border-radius: 4px; border: 4px solid #fff;"/>
        {% endfor %}
    </div>

    {% if res.video and res.audio %}
    <div class="av-preview" style="position: relative; display: inline-block; width: 108px; height: 108px; ">
        <video class="video" muted preload src="/uploads/{{ res.video.filename }}" style="width: 100px; height: 100px; border-radius: 4px; border: 4px solid #fff;"></video>
        <audio src="/uploads/{{ res.audio.filename }}"></audio>
        <span class="play-btn" style="position: absolute; top: 50%; left: 50%; transform: translate(-20px, -20px); width: 40px; height: 40px; line-height: 40px; text-align: center; cursor: pointer; font-size: 2em;">&#9658;</span>
    </div>
    {% else %}
        {% if res.audios %}
        <div class="audio-preview">
            {% for audio in res.audios %}
                <audio data-src="/uploads/{{ audio.filename }}" controls style="width: 100%"></audio>
            {% endfor %}
        </div>
        {% endif %}
    {% endif %}

    <hr/>

{% endfor %}


{% endblock %}


{% block javascript %}
<script src="{% static "js/image-preview.js" %}"></script>
<script src="{% static "js/avplay.js" %}"></script>
<script src="{% static "js/audio-preload.js" %}"></script>
{% endblock %}
