{% extends "layout.html" %}
{% load static %}
{% block content %}


<form method="post" action="{% url "res-save" %}" novalidate id="send-form">
    {% csrf_token %}
    <table>
        <tbody>
            <tr>
                <th>Илгээх хүний мэйл хаяг</th>
                <td>
                    {{ form.email_to }}
                    эсвэл
                    {{ form.contact }}
                    <div id="{{ form.email_to.auto_id }}_error"></div>
                </td>
            </tr>
            <tr>
                <th>Агуулга</th>
                <td>
                    {{ form.summary }}
                    <div id="{{ form.summary.auto_id }}_error"></div>
                    <div class="images"></div>
                    <div class="audio-container"></div>
                    <ul class="attachments"></ul>
                </td>
            </tr>
            <tr>
                <th>Дэлгэцийн бичлэг</th>
                <td>
                    <div class="avrec">
                        <input type="button" class="record-start" value="Record"/>
                        <input type="button" class="record-stop" value="Stop"/>
                        <div class="avrec-preview" style="border-radius: 4px; border: 4px solid #fff; display: none;">
                            {% spaceless %}
                            <video class="video" playsinline autoplay muted width="320px" style="background-color: rgba(0,0,0,.35); max-height: 240px; display: block;"></video>
                            <canvas width="320px" height="30px" class="audio-vis" style="background-color: rgba(0,0,0,.35); display:block;"></canvas>
                            {% endspaceless %}
                        </div>
                    </div>
                </td>
            </tr>
            <tr>
                <th></th>
                <td>
                    <input type="submit" value="Илгээх">
                </td>
            </tr>
        </tbody>
    </table>
</form>

{% endblock %}


{% block javascript %}
<script src="{% static "js/Utils.js" %}"></script>
<script src="{% static "js/avrec.js" %}"></script>
<script src="{% static "js/send.js" %}"></script>
{% endblock %}
