body{
    background-color: #e5e5e5;
    margin: 0;
}


body, input, textarea, select{
    font-family: sans-serif;
    font-weight: 300;
    line-height: 1.1rem;
    word-spacing: 3px;
    color: #595959;
}


.header-wrapper .header {
    width: 1260px;
    padding: 20px;
    margin: 0rem auto;
}

.content-wrapper .content {
    width: 1260px;
    padding: 20px;
    min-height: 700px;
    margin: 0rem auto;
    text-shadow: 0 1px rgba(255,255,255,.35);
    font-size: .88rem;
}


.header-wrapper > .header > .menu > a{
    color: inherit;
    font-weight: 700;
    padding: .2rem .6rem;
    text-decoration: none;
    transition:
        background-color .08s ease-in,
        color .08s ease-in;
    border-radius: 2px;
}
.header-wrapper > .header > .menu > a:hover{
    background-color: rgba(0, 0, 0, .07);
    color: #000;
}


input[type="text"],
input[type="email"],
textarea {
    border: 1px solid darkgrey;
    border-radius: 2px;
}

dl > dt {
    font-weight: 700;
}

dl > dt {
    margin-top: .6rem;
}
dl > dt:first-child {
    margin-top: 0;
}


/**
 * Tags
 */

.tag {
    display: inline-block;
    border-radius: .54rem 2px 2px .54rem;
    font-size: .68rem;
    padding: .2rem .4rem .2rem 1rem;
    line-height: .68rem;
    background-color: rgba(255, 255, 255, .35);
    box-shadow: inset 0px 1px 1px 0 rgba(255, 255, 255, 0.35), 1px 1px 0px 0 rgba(0, 0, 0, 0.05);
    color: #9e9e9e;
    position: relative;
    font-weight: 400;
    text-shadow: 0 1px 0 #fff;
}
.tag:before {
    content: '';
    display: inline-block;
    width: .4rem;
    height: .4rem;
    background-color: #e5e5e5;
    border-radius: .29rem;
    box-shadow: 0px 1px 1px 0 rgba(255, 255, 255, 0.75), inset 0px 1px 1px 0 rgba(0, 0, 0, 0.1);
    vertical-align: middle;
    position: absolute;
    left: .25rem;
    top: .33rem;
}

.tag.yellow{ background-color: #f6ed9d; }


/**
 * Popup
 */

.popup-viewer {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0,0,0,.15);
    backdrop-filter: blur(4px);
    text-align: center;
}

.popup-viewer.hidden {
    display: none;
}

.popup-viewer:before {
    content: "";
    display: inline-block;
    height: 100%;
    vertical-align: middle;
}

.popup-box {
    background-color: #e5e5e5;
    border-radius: 3px;
    box-shadow: 0 1px 2px 0 rgba(0,0,0,.15);
    padding: 40px;
    max-width: 800px;
    vertical-align: middle;
    text-align: left;
    display: inline-block;
    margin-bottom: 20vh;
}
