{% extends "layout.html" %}

{% load static %}

{% block content %}

<form method="POST" action="">

    {% csrf_token %}

    {% if error %}
    <div>{{error}}</div>
    {% endif %}

    <table>
        <tbody>
            <tr>
                <td> Нэвтрэх нэр: </td>
                <td><input type="text" name="username" value="{{ username }}"/></td>
            </tr>
            <tr>
                <td>  Нууц үг: </td>
                <td><input type="password" name="password"></td>
            </tr>
            <tr>
                <td></td>
                <td><input type="submit" value="Нэвтрэх"></td>
            </tr>
        </tbody>
    </table>


</form>
{% endblock %}


{% block javascript %}
<script>
var el_username = document.querySelector('input[name="username"]');
document.querySelector('input[name="' + (el_username.value ? 'password' : 'username') + '"]').focus();
</script>
{% endblock %}
