<h1>Contacts</h1>

<ul>
    {% for contact in contacts %}
    <li>{{ contact.email }}</li>
    {% endfor %}
</ul>

<a href="{% url "contact-refresh" %}">Update contact list</a> using SENT and RECIEVED emails
