{% load static %}
<!DOCTYPE html>
<html lang="mn">
<head>
    <title>Resource share</title>

    <link rel="stylesheet" type="text/css" href="{% static "css/main.css" %}">

    {% block css %}{% endblock %}
</head>
<body>

    <div class="header-wrapper">
        <div class="header">
            <div class="menu">

                <a href="{% url "res-send" %}">NEW</a>

                <a href="{% url "res-sent" %}">SENT</a>

                <a href="{% url "res-received" %}">RECEIVED</a>

                {% if request.user.is_authenticated %}
                <a href="{% url "user-profile" %}">{{ request.user.email }}</a>
                {% endif %}

                <a href="{% url "page-about" %}">About</a>

                {% if request.user.is_authenticated %}
                <a href="{% url "logout" %}">Logout</a>
                {% endif %}
            </div>
        </div>
    </div>

    <div class="content-wrapper">
        <div class="content">
            {% block content %}{% endblock %}
        </div>
    </div>

    <div class="popup-viewer hidden" id="popup-loading">
        <div class="popup-box">Түр хүлээнэ үү!</div>
    </div>

    {% block javascript %}{% endblock %}
</body>
</html>
